<div role="tabpanel" class="tab-pane {{#if isActive}}active{{/if}}" id="info-{{tab.id}}">
  <div>
    <table class="table table-striped table-info" style="clear: both">
      <tbody>
        {{#each fields}}
        {{#if header}}
      </tbody>
    </table>
  </div>
  <div class="document-heading collapsable">
    <h4><a class="nounderline" data-toggle="collapse" href="#header-{{../../seq.id}}-{{header}}" aria-expanded="true" aria-controls="header-{{../../seq.id}}-{{header}}">{{header}}</a></h4>
  </div>
  <div id="header-{{../../seq.id}}-{{header}}" class="collapse in">
    <table class="table table-striped table-info" style="clear: both">
      <tbody>
        {{/if}}
        {{renderField this ../seq}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>